*{
    margin :0;
    padding: 0;
}
body{
    background-image: url('blue.jpg');
    background-size: cover;
}
.navibar{
    display: flex;
    overflow: hidden;
}
.menulist{
    width: 60%;
    background-color: rgb(2, 3, 53);
    display: flex;
    align-items: center ;
}
.menulist li{
    list-style: none;
    padding: 25px;
}
.menulist li a{
    text-decoration: none;
    color: whitesmoke;
}
.menulist li a:hover{
    text-decoration: none;
    color: rgb(208, 255, 0);
}
.searchbar{
    background-color:rgb(2, 3, 53);
    width: 40%;
    text-align: right;
}
#search{
    margin-top: 20px;
    margin-right: 10px;
    padding-top:10px;
    font: size 10px;
    border: 3px black;
    border-radius:5px ;
}
.first{
    color: rgb(255, 250, 176);
    padding: 22px;
}
.btn{
    background: none;
    color: beige;
    position: sticky;
    margin-right: 25px;
    border-color: rgb(224, 221, 221); 
}

