*{
    margin :0;
    padding: 0;
}
body{
    background-image: url('blue.jpg');
    background-size: cover;
}
.navibar{
    display: flex;
    overflow: hidden;
}
.menulist{
    width: 60%;
    background-color: rgb(2, 3, 53);
    display: flex;
    align-items: center ;
}
.menulist li{
    list-style: none;
    padding: 25px;
}
.menulist li a{
    text-decoration: none;
    color: whitesmoke;
}
.menulist li a:hover{
    text-decoration: none;
    color: rgb(208, 255, 0);
}
.searchbar{
    background-color:rgb(2, 3, 53);
    width: 40%;
    text-align: right;
}
#search{
    margin-top: 25px;
    margin-right: 12px;
    padding-top: 1px;
    font: size 10px;
    border: 10px black;
    border-radius: 5px;
    padding-left: 10px;
}
.searchbar ::placeholder{
    color:black;
}
.first{
    color: rgb(255, 250, 176);
    padding: 22px;
    font-family: cursive;
}
.btn{
    background: none;
    color: beige;
    position: sticky;
    margin-right: 25px;
    border-color: rgb(224, 221, 221); 
}
.h3{
    font-family: cursive;
    text-decoration: dotted;
    text-shadow: 1px;
}
.second{
    padding: 92px;
    margin: 79px;
    margin-left: 223px;
    width: 60%;
}
#linkinput{
    height: 20px;
    width: 545px;
    border-radius: 35px;
    background-color: transparent;
    border-color: rgb(208, 255, 0);
    color: #ebfc00;
    padding-left: 50px;
    text-align: center;
}
#compressbutton{
    background-color: rgb(217, 255, 0);
    border-radius: 5px;
    font: oblique;
    width: 144px;
    height: 27px;
}
.h1{
    font-style: unset;
}
::placeholder{
    color:rgb(200, 255, 0);
}
#About{
    color:rgb(190, 253, 71);
    margin-left: 59px;
}
