*{
    margin :0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 0,0.5) url('img');
    background-size: cover;
    background-blend-mode: darken ;
}
.navibar{
    display: flex;  /*change the display accordingly*/
}
.menulist{
    width: 60%;
    background-color: rgb(2, 3, 53);
    display: flex;
    align-items: center ;
}
.menulist li{
    list-style: none;
    padding: 25px;
}
.menulist li a{
    text-decoration: none;
    color: whitesmoke;
}
.menulist li a:hover{
    text-decoration: none;
    color: rgb(208, 255, 0);
}
.searchbar{
    background-color:rgb(2, 3, 53);
    width: 40%;
    text-align: right;
}
#search{
    margin-top: 20px;
    margin-right: 10px;
    padding-top:10px;
    font: size 10px;
    border: 3px black;
    border-radius:5px ;
}